<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesweathome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AboutUs"></activity>
        <activity android:name=".activities.ShareWithFriendsActivity" />
        <activity android:name=".activities.WorkoutDoneActivity" />
        <activity android:name=".activities.WorkoutPauseActivity" />
        <activity android:name=".activities.CountDownBeforeWorkoutActivity" />
        <activity android:name=".activities.WorkoutPlayActivity" />
        <activity android:name=".activities.EditWorkoutActivity" />
        <activity android:name=".activities.WorkoutListActivity" />
        <activity android:name=".activities.MainHomeActivity" />
        <activity android:name=".activities.login_page_3" />
        <activity android:name=".activities.login_page_2" />
        <activity android:name=".activities.login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>